.content {
  padding: 1px;
  width: 32rem;
  height: 61rem;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: #cf6969;
  background-image: var(--allBackGround);
  background-attachment: fixed;
  background-size: cover;
}

.content::-webkit-scrollbar {
  width: 1px;
}

.content h1 {
  margin-left: 10px;
}

@media (max-width: 575.98px) {
  .content {
    height: 48rem;
    width: 32rem
  }
}

.front_header {
  width: 277px;
  font-size: 1.5em;
  text-align: center;
  padding: 1em 1.5em;
  color: rgb(24, 21, 21);
  background-color: #f72417;
  background-image: var(--allBackGround);
  background-attachment: fixed;
  background-size: cover;
  /* border-radius: 0.5em; */
  /* margin-bottom: 1.5em; */
  /* height: 3em; */
  box-shadow: inset 19px -19px 38px #b93d3d, inset -19px 19px 38px #e2c8c8;
}

.front_header img {
  padding: 0.5rem;
  opacity: 50%;
}

.front_media {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  height: 300px;
  padding: 0.5em;
  background-color: #eee;
  border-radius: 0.5em;
  object-fit: cover;
  vertical-align: middle;
  
}

.front_media img {
  max-width: none;
  min-width: auto;
  min-height: auto;
  padding: 1.5em;
  height: 117%;
  width: auto;
  padding: 0em;
  /* transform: translate(10px, 10px); */
}

.front_body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front_body span {
  font-family: 'Rubik Gemstones', cursive;
  font-size: 1rem;
  font-weight: normal;
  padding: 0.5em;
  /* color: var(--colorText); */
  color:rgb(28 26 26);
  background-color: #f72417;
  background-image: var(--allBackGround);
  background-attachment: fixed;
  background-size: cover;
  font-size: 1.9em;
  text-align: center;
  border-radius: 1em;
  box-shadow: inset 19px -19px 38px #b93d3d, inset -19px 19px 38px #e2c8c8;
  margin-top: 1.5em;
  /* mix-blend-mode: screen; */
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 1em, #b93d3d 1em, #f72417 50%), repeating-linear-gradient(45deg, #f72417, #f72417 1em, #FFF 1em, hwb(0deg 55% 5%) 50%);
    background-size: 3em 3em, 2em 2em;
    animation-name: ani;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  /* text-shadow: var(--textShadow); */
  /* box-shadow: var(--boxShadow); */
}
@keyframes ani {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 100% 0;
  }
}